<div class="toc three wide column ">
    <div class="toc bg "></div>
    <div class="ui vertical inverted sticky menu" style="width: 250px !important; left: 0px; top: 0px;">
        <div class="item center">
            <button class="ui icon button large" [routerLink]="['Home']">
                <i class="icon home"></i>
            </button>
        </div>
        <a class="item" href="#/">
            <b>Getting Started</b>
        </a>
        <a class="item" href="#/D3IntegrationCheck">
            <b>D3 Integration Check</b>
        </a>
        <!--<div class="item">
            <div class="active  header">Elements</div>
            <div class="menu">                            
                <a class="item" href="#/elements/button">Button</a>
                <a class="item" href="#/elements/loader">Loader</a>
                <a class="item" href="#/elements/list">List</a>   
                <a class="item" href="#/elements/segment">Segment</a>                         
            </div>
        </div>-->
    </div>	
</div>  